.board {
    max-width: 500px;
    max-height: 500px;
    min-width: 500px;
    min-height: 500px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

.game-tile {
    background-color: rgb(44, 127, 221);
    width: 48px;
    height: 48px;
    border: 1px solid black;
    flex-shrink: 0;
}

.board-container {
    display: flex;
    gap: 8px;
}